/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

.ib {
  display: flex;
}

.itemBlock{
  width: 300px;
  padding: 40px;
  font-size: 100%;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
body {
  font-family: "Gill Sans", sans-serif;
}

.sidenav {
  height:80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20;
  left:4;
  background-color: #a6d49b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #006400;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #006400;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: 150%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 150%;
}
html {
  text-align: center;
}
button{
  font-size: 110%;
  background-color: #006400;
  color:whitesmoke;
  border-radius: 8px;
}
button:hover{
  background-color: #4CAF50;
  color: white;
}

body {
  background-color: whitesmoke;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 300%;
}

h3 {
  color: black;
  font-size: 150%;

}

p{
  font-size: 120%;
}

div{
  font-size: 120%;

}

.nameetage {
  margin-top: 50px;
  margin-bottom: 25px;
  align-items: center;
  background-color: black;
}

#submitButton {
  background-color: cyan;
  padding: 14px 28px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#signature {
  text-align: right;
  color:#006400;
  font-style: italic;
  font-size: 150%;
}

.tarea {
  height: auto;
  width: auto;
}

